summary:hover {
  backdrop-filter: brightness(0.97);
  @media (prefers-color-scheme: dark) {
    backdrop-filter: brightness(1.2);
  }
}

summary button {
  font-size: .8rem;
  padding: .25rem;
}

details:not([open]) > summary {
  border-radius: 5px;
}

details[open] > summary {
  border-bottom: 1px solid var(--border);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

form button + button,
form button + select,
form input + button {
  margin-left: .25rem;
}

footer > a + a, {
  margin-left: .5rem;
}

@font-face {
  font-family: Markdown;
  src: url("LiberationMono.woff2") format("woff2")
}

body > header {
  padding-bottom: 0;
}


header > nav {
  a.active {
    color: var(--accent);
  }
}

header > nav:last-of-type:not(:first-of-type) {
  margin-bottom: -1px;

  a {
    position: relative;
    margin: 0;
    border-bottom: none;
    border-radius: 0;
    @media only screen and (max-width: 720px) {
      margin: .5rem;
    }

    & + a {
      margin-left: -1px;
    }

    &:first-child {
      border-top-left-radius: 5px;
    }

    &:last-child {
      border-top-right-radius: 5px;
    }

    &:hover {
      z-index: 2;
    }

    &.active {
      z-index: 1;
      background: var(--bg);
      color: var(--accent);
      @media only screen and (max-width: 720px) {
        background: none;
      }
    }
  }
}

button,
input[type=text] {
  font-size: inherit;
  padding: 0.5em;
}

input:not(:placeholder-shown):invalid {
  border: 1px solid var(--marked);
}

summary aside {
  margin: 0;
  border: none;
  text-align: right;
  background: none;
}

info {
  display: block;
  grid-column: 1/-1;
  color: var(--bg);
  padding: .25rem .5rem;
  background-color: var(--code);
}

info:nth-of-type(1) {
  background-color: var(--accent);
}

[type=markdown] {
  background: url("Markdown.svg") no-repeat 99% 4px, var(--bg);
}