summary:hover {
  backdrop-filter: brightness(1.2);
}

details:not([open]) > summary {
  border-radius: 5px;
}

details[open] > summary {
  border-bottom: 1px solid var(--border);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

button + button,
button + select,
input + button {
  margin-left: .25rem;
}

button,
input[type=text] {
  font-size: inherit;
  padding: 0.5em;
}

summary aside {
  margin: 0;
  border: none;
  text-align: right;
  background: none;
}

info {
  display: block;
  grid-column: 1/-1;
  color: var(--bg);
  padding: .25rem .5rem;
  background-color: var(--code);
}

info:nth-of-type(1) {
  background-color: var(--accent);
}