.toast {
  position: fixed;
  top: 0;
  right: 0;
  margin: 1rem;

  &__message {
    display: flex;
    padding: .5rem;
    gap: .25rem;
    overflow: hidden;
    width: 15rem;
    margin-top: 0;
    margin-bottom: .5rem;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    color: #fff;
    transition: opacity .5s;
    transition-delay: 5s;

    p {
      margin: 0;
      padding: 0;
      word-wrap: break-word;
    }

    svg {
      width: 24px;
      height: 24px;
      stroke: currentColor;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
      fill: none;
      pointer-events: none;
    }

    &.error {
      background: rgba(173, 35, 17, 0.8);
    }

    &.info {
      background: rgba(17, 66, 173, 0.8);
    }

    &.success {
      background: rgba(27, 173, 17, 0.8);
    }

    &.fade:not(:hover) {
      animation: fade 5s forwards;
    }

    @keyframes fade {
      0%   {opacity: 1;}
      90%  {opacity: 1;}
      100% {opacity: 0;}
    }
  }
}